In [ ]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine 
import sklearn as skl
import pyarrow as pa
import redis

from sklearn.preprocessing import LabelEncoder

import great_expectations as gx

In [40]:
RANDOM_STATE = 42
DEFAULT_CONN_STRING = "mysql+pymysql://lewis:MLOps6230@172.17.0.3:3306/LoanApproval"
REDIS_CONN_INFO = {"host": "localhost", "port": 6379, "db": 0, "table": "LoanApproval"}
DEFAULT_PATH = "~/loan_data.csv"
# DEFAULT_COLUMNS = ["person_age","person_gender","person_education","person_income","person_emp_exp","person_home_ownership","loan_amnt","loan_intent","loan_int_rate","loan_percent_income","cb_person_cred_hist_length","credit_score","previous_loan_defaults_on_file","loan_status"]
DEFAULT_TABLE_NAME = "LoanApproval"

In [58]:
def create_db_context(conn_string = DEFAULT_CONN_STRING):
    return create_engine(conn_string)

def extract_csv(path = DEFAULT_PATH): # column_names = DEFAULT_COLUMNS):
    return pd.read_csv(path) # , names = column_names)

def write_df_to_db(df, table_name = DEFAULT_TABLE_NAME, if_exists = "replace", conn_string = DEFAULT_CONN_STRING):
    eng_conn = create_db_context(conn_string)
    df.to_sql(table_name, con = eng_conn, if_exists = if_exists, index = False)
    eng_conn.dispose()
    
def read_df_from_db(conn_string, table_name):
    eng_conn = create_db_context(conn_string)
    return pd.read_sql(table_name, conn_string)

In [ ]:
def extract_transform_load(from_path = DEFAULT_PATH, to_conn = DEFAULT_CONN_STRING):
    df_extracted = extract_csv(from_path)
    # Transformation
    df_extracted["person_income"] = df_extracted["person_income"].astype(int)
    df_extracted["person_age"] = df_extracted["person_age"].astype(int)
    df_extracted["loan_amnt"] = df_extracted["loan_amnt"].astype(int)
    df_extracted["cb_person_cred_hist_length"] = df_extracted["cb_person_cred_hist_length"].astype(int)
    
    
    write_df_to_db(df_extracted)

In [ ]:
def preprocessing(from_conn, to_redis = REDIS_CONN_INFO):
    eng_conn = create_db_context(from_conn)
    df = read_df_from_db(from_conn, REDIS_CONN_INFO["table"])
    # Preprocessing
    
    seralised_df = pa.serialise(df).to_buffer().to_pybytes()
    r = redis.Redis(host = REDIS_CONN_INFO["host"], port = REDIS_CONN_INFO["port"], db = REDIS_CONN_INFO["db"])
    r.set(REDIS_CONN_INFO["table"].serialised_df)
    
def training(from_redis = REDIS_CONN_INFO):
    r = r = redis.Redis(host = REDIS_CONN_INFO["host"], port = REDIS_CONN_INFO["port"], db = REDIS_CONN_INFO["db"])
    preproc_df = pa.deserialze(r.get("LoanApproval"))
    # Training
    # Then store it to MLFlow (somehow...)
    
def expectations(df, )

In [61]:
df = extract_csv()
write_df_to_db(df)

df.head(5)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [62]:
df2 = read_df_from_db(DEFAULT_CONN_STRING, "LoanApproval")
df2.head(5)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1